<!-- <div fxLayout="column">
  <div fxLayout="row" fxFlex="100" *ngIf="ocultarResumen">
    <ng-container *ngTemplateOutlet="fileUpload"></ng-container>
  </div>

  <ng-template #fileUpload>
    <div class="drop-container" [style.height]="height" *ngIf="!fileInfo" [style.margin-top]="marginTop" >
        <input type="file" >
        <div class="fade-in">
          <h3>Arrastre el archivo aquí</h3>
          <h3>o</h3>
          <button mat-raised-button color="primary" type="button">
            Examinar
          </button>
        </div>
    </div>
  </ng-template>
</div> -->

<div class="drop-container">
  <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No ha subido ningun archivo."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>
</div>

