<app-pagetitle title="Dispositivos" icon="devices"></app-pagetitle>

<div fxLayout="colum">
  <div fxFlex="100" fxFlexAlign="center center" fxLayout="column">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button (click)="openForm(0)" >
        Dispositivo <mat-icon>add</mat-icon>
      </button>
    </div>

    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="left center" fxLayoutGap="20">
      <mat-card fxFlex="23"
      *ngFor="let device of listaDispositivos"
      class="example-card" (click)="navigateToDetail(device.id)">
          <mat-card-header>
            <mat-card-title>id : {{device.id}}</mat-card-title>
            <mat-card-subtitle>nombre : {{device.nombre}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxFlex="100" fxLayout="column" >
              <div fxFlex="100" fxLayout="row" >
                <div fxFlex="50"><p>Nro. Alertas</p></div>
                <div fxFlex="50"><span>{{device.cantAlertas}}</span> </div>
              </div>
              <div fxFlex="100" fxLayout="row" >
                <div fxFlex="50"><p>Creado por </p></div>
                <div fxFlex="50"><span>{{device.usuario.split(',')[0]}}</span> </div>
              </div>
            </div>
          </mat-card-content>
          <!-- <mat-card-content>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="left center">

              <div fxFlex="50">
                <div>
                  <h3>Parámetros:</h3>
                  <ul>
                    <li *ngFor="let param of device.parametros">
                      {{param.parametro}} ({{param.unidad}})
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <p>Descripcion : {{device.description}}</p>

          </mat-card-content> -->
      </mat-card>
    </div>
  </div>

</div>

