.example-container {
  width: 100%;
  height: 100vh;
  /* margin: 10px; */
  /* border: 1px solid #555; */
}

.left-sidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #8388a5;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.mat-list-item {
  display: flex;
  justify-content: center;
}

.centered-content {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.centered-content mat-icon {
  margin-right: 8px;
}

.centered-content a {
  display: flex;
  align-items: center;
}



.container-fluid{
  margin: 2rem 3.5rem
}
