<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [fixedInViewport]="false"
    opened
    class="left-sidenav"
  >
    <div class="sidenav-header">
      <img width="100" height="100" src="/assets/img/profile.jpg"/>
      <div class="header-text">
        <h2>{{nombre + ' ' + apellido}} </h2>
        <p>Rol - {{rol}}</p>
      </div>
    </div>
    <mat-nav-list >
      <a mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.router">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </a>
  <!-- <mat-list-item routerLink="">
        <div class="centered-content">
          <a mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
          <span matLine>Home</span>
          </a>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/usuarios">
        <div class="centered-content">
          <mat-icon matListIcon>group</mat-icon>
          <a matLine>Usuarios</a>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/devices">
        <div class="centered-content">
          <mat-icon matListIcon>group_work</mat-icon>
          <a matLine>Dispositivos</a>
        </div>
      </mat-list-item>
     -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fixedInViewport="false">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
