<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [fixedInViewport]="false"
    opened
    class="left-sidenav"
  >
    <mat-nav-list>
      <mat-list-item routerLink="">
        <div class="centered-content">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine>Home</a>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/usuarios">
        <div class="centered-content">
          <mat-icon matListIcon>person</mat-icon>
          <a matLine>Usuario</a>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/dispositivo">
        <div class="centered-content">
          <mat-icon matListIcon>group_work</mat-icon>
          <a matLine>Devices</a>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fixedInViewport="false">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
