.example-container {
  width: 100%;
  height: 100vh;
}

.left-sidenav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vh;
}

.container-fluid{
  margin: 2rem 3.5rem
}

.pin {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: currentColor;
}

.sidenav-header{
  padding-top: 24px;
  text-align: center;
  >img{
    border-radius: 100%;
    object-fit: cover;
  }

  .header-text{
    >h2{
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;

    }
    >p{
      margin: 0;
      font-size: 0.8rem;
    }
  }
}
