<app-pagetitle title="Dispositivo" icon="dashboard"></app-pagetitle>

<h1>{{device!.id}} - {{device!.nombre}} </h1>


<div fxLayout="column" fxLayoutAlign="center none">

  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" fxLayoutGap="20">
    <mat-card fxFlex="30">
      <mat-card-title>
        <h1 style="margin-left: 15px;margin-top: 15px;">Información</h1></mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxFlex="100">
          <div fxFlex="50">
              <p>Total de datos medidos :</p>
              <p>Total de alertas :</p>
          </div>
          <div fxFlex="50">
            <p>{{dataInformativa.totalMediciones}}</p>
            <p>{{dataInformativa.totalAlertas}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="30">
      <mat-card-title><h1 style="margin-left: 15px;margin-top: 15px;">Parametros</h1></mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxFlex="100">
          <div fxFlex="50">
              <p *ngFor="let param of device!.tipoDatos">
                {{param.nombre}} ({{param.unidad}})
              </p>
          </div>

          <div fxFlex="50">

          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="30">
      <mat-card-title><h1 style="margin-left: 15px;margin-top: 15px;">Usuario</h1></mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxFlex="100">
          <div fxFlex="50">
            <p>Nombre :</p>
            <p>rol :</p>
            <p>Última medicion: </p>
          </div>

          <div fxFlex="50">
            <p>{{usuario.name}}</p>
            <p>{{usuario.lastname}}</p>
            <p>{{dataInformativa.ultimaMedicion}}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div fxFlex="10">
      <button mat-raised-button (click)="modalUploadData()">Ingresar data</button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center start" fxFlex="100" class="content-dashboard">



    <div fxFlex="80">
      <div *ngIf="showDashboard">
        <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="true"
      [legendTitle]="'Leyenda'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="'Fecha'"
      [yAxisLabel]="'Parametros'"
      [timeline]="true"
      [results]="chartData"
     >
    </ngx-charts-line-chart>
      </div>
      <div *ngIf="!showDashboard">
          NO EXISTE DATA
      </div>

    <!-- (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)" -->
    </div>


    <div fxFlex="20">
      <mat-card fxFlex="100">
        <mat-card-content>

          <form action="" [formGroup]="formParameters" (ngSubmit)="obtenerRangoMediciones(formParameters.value)" >

            <div fxFlex="colum">
              <h2>Parámetros de medición</h2>
              <div>
                <mat-form-field>
                  <mat-label>Tiempo de medición</mat-label>
                  <mat-select formControlName="type"  (selectionChange)="onSelectionChange($event)" >
                    <mat-option *ngFor="let opcion of parametrosTiempo" [value]="opcion.value">{{opcion.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="selectedOption===0">
                <mat-form-field>
                  <mat-label>Ingrese un rango de fecha</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <mat-error *ngIf="formParameters.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                  <mat-error *ngIf="formParameters.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Parametros</mat-label>

                  <mat-select formControlName="parametros"  #select  multiple>
                    <div class="select-all">
                      <mat-checkbox [(ngModel)]="allSelected"
                                      [ngModelOptions]="{standalone: true}"
                                      (change)="toggleAllSelection()">Todos</mat-checkbox>
                  </div>
                    <mat-option (click)="optionClick()" *ngFor="let opcion of device!.tipoDatos" [value]="opcion.nombre">{{opcion.nombre}} - {{opcion.unidad}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button color="primary" type="submit"> Buscar</button>
              </div>
            </div>
          </form>


        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <!-- <app-dashboard-device></app-dashboard-device> -->
</div>
